<%= form_with model: micropost do |form| %>
	<br>
	<div>
		<%= form.label :context %><br>
		<%= form.text_area :context %>
		<% micropost.errors.full_messages_for(:context).each do |message|%>
			<div><%= message %></div>
		<% end %>
	</div>
	<br>
	<div>
		<%= form.label :user_id %><br>
		<%= form.text_field :user_id%>
		<% micropost.errors.full_messages_for(:user_id).each do |message| %>
			<div><%= message %></div>
		<% end %>
	</div>
	<br>
	<%= form.submit %>
<% end %>